{#{% extends 'master.html' %}#}
{#{% load static %}#}
{#{% block content %}#}
{#    <div>#}
{#        <h1 class="text-primary text-center">UPDATE PARTICIPANTS</h1>#}
{#        <form action="/update-participant/{{ participant.id }}" class="participant-form" method="post">#}
{#            <p>{{ success }}</p>#}
{#            {% csrf_token %}#}
{#            <input type="text" required class="form-control" value="{{ participant.name }}" placeholder="Update name" name="p-name">#}
{#            <input type="text" required class="form-control" value="{{ participant.email }}" placeholder="Update name" name="p-email">#}
{#            <input type="text" required class="form-control" value="{{ participant.event_name }}" placeholder="Update name" name="e-name">#}
{#            <input type="submit" class="btn btn-info" value="Update">#}
{#        </form>#}
{#        <p>{{ participant_name }}</p>#}
{#        <p>{{ participant_email }}</p>#}
{#        <p>{{ participant_event_name }}</p>#}
{##}
{##}
{#    </div>#}
{#{% endblock %}#}


{% extends 'master.html' %}
{% load static %}
{% block content %}
    <div class="container mt-5" id="update-participant-container">
        <h1 class="text-primary text-center mb-4" id="update-participant-header">Update Participant</h1>
        <div class="row justify-content-center" id="update-participant-row">
            <div class="col-md-8" id="update-participant-col">
                <form method="post" action="{% url 'update-participant' participant.id %}" id="update-participant-form">
                    {% csrf_token %}
                    <div class="form-group" id="form-group-participant-name">
                        <label for="participant_name">Name</label>
                        <input type="text" id="participant_name" name="participant_name" class="form-control" value="{{ participant.participant_name }}" required>
                    </div>
                    <div class="form-group" id="form-group-participant-email">
                        <label for="participant_email">Email</label>
                        <input type="email" id="participant_email" name="participant_email" class="form-control" value="{{ participant.participant_email }}" required>
                    </div>
                    <div class="form-group" id="form-group-event-name">
                        <label for="event_name">Event</label>
                        <select id="event_name" name="event_name" class="form-control" required>
                            {% for event in events %}
                                <option value="{{ event.id }}" {% if event.id == participant.event_name.id %}selected{% endif %}>{{ event.event_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" id="update-participant-btn">Update Participant</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}



